:root {
  --accent-color: #ff6c00;
  --header-text-color: #ffffff;
  --main-text-color: #303030;
  --secondary-text-color: #9da4bd;
  --third-text-color: #555555;
  --salon-text-color: rgba(157, 164, 189, 0.6);
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f7f7f7;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid royalblue;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  min-width: 160px;
  padding-top: 12px;
  padding-bottom: 12px;

  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  border: 1px solid var(--main-bg-color);
  color: var(--accent-color);
}

/* ____________HEADER____________ */

.header {
  background-color: #7c7676;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: 131px;
}
.header-nav-list {
  display: flex;
  column-gap: 30px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
}

.header-link:hover,
.header-link:focus,
.hero-item-link:hover,
.hero-item-link:focus {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-btn {
  margin-left: 40px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--header-text-color);
}

/* _______MAIN__________ */

.hero {
  padding-top: 272px;
  padding-bottom: 208px;
}

.hero-container {
  display: flex;
}

.hero-list {
  width: 100px;
}
.hero-list-item {
}

.hero-item-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-text-color);
}

.hero-text {
  background: #303030;
  flex-grow: 1;
}

.hero-text-pre {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--salon-text-color);
}

.hero-title {
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--header-text-color);
}
.hero-text-after {
  max-width: 370px;

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.about {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: var(--main-bg-color);
}

.about-container {
  display: flex;
  gap: 30px;
}

.about-text-pre {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.about-title {
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--main-text-color);
}
.about-text-after {
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}
.about-text-us {
  margin-bottom: 40px;
  max-width: 470px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}
.about-btn {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.about-btn:focus,
.about-btn:hover {
  border-color: var(--main-text-color);
}

.prices {
  background-color: #303030;
  padding-top: 130px;
  padding-bottom: 130px;
}

.prices-pre {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--salon-text-color);
}

.prices-title {
  margin-bottom: 44px;

  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--header-text-color);
}

.prices-block {
  display: flex;
  column-gap: 30px;
  margin-bottom: 44px;
}

.prices-list-left {
  width: calc((100%-30px) / 2);
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  background-color: #555555;
}

.prices-item {
  display: flex;
  justify-content: space-between;
}

.item-name {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.item-price {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.prices-list-right {
  width: calc((100%-30px) / 2);
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  background-color: #555555;
}

.prices-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--header-text-color);
}

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-container {
  display: flex;
  column-gap: 30px;
}

.advantages-list {
  width: calc((100%-30px) / 2);
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
  column-gap: 30px;
}

.advantages-list-item:nth-child(2n) {
  margin-top: 35px;
}

.advantages-text {
  width: calc((100%-30px) / 2);
  background-color: blue;
}

.advantages-list-block {
  max-width: 170px;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 15px;
  background-color: #f7f7f7;
}

.advantages-list-block-number {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}

.advantages-item-quantity {
  display: block;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--main-text-color);
}

.advantages-item-plus {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}

.advantages-item-text {
  min-width: 122px;
  line-clamp: 2;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--main-text-color);
}

.advantages-text-pre {
  margin-top: 9px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.advantages-title {
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--main-text-color);
}

.advantages-text-after {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.barbers {
  padding-top: 120px;
  padding-bottom: 120px;
  border-color: var(--secondary-bg-color);
}
.barbers-pre-titile {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.barbers-title {
  margin-bottom: 44px;
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--main-text-color);
}

.barbers-list {
  display: flex;
  column-gap: 30px;
}

.barbers-list-item {
  width: calc((100% - 60px) / 3);
}
.barbers-block {
  padding-top: 30px;
  padding-left: 82px;
  padding-right: 82px;
}
.barbers-item-name {
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.barbers-item-work {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  border-color: var(--main-bg-color);
}

.portfolio-text {
  margin-bottom: 44px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.portfolio-list {
  display: flex;
  column-gap: 30px;
}

.portfolio-list-item {
  width: calc((100% - 90px) / 4);
}

.contacts {
  padding-top: 130px;
  padding-bottom: 120px;
  background-color: #303030;
}

.contacts-block {
  padding-left: 100px;
}

.contacts-title {
  margin-bottom: 40px;

  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--header-text-color);
}
/* .contacts-address {
}
.contacts-address-list {
} */

.contacts-address-item {
  display: flex;
  align-items: flex-start;
  column-gap: 16px;
  margin-bottom: 20px;
}

.contacts-address-item:last-child {
  margin-bottom: 0;
}

.address-link {
  display: block;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contacts-address-item-pics {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.address-link:hover,
.address-link:focus,
.contacts-address-item-pics:hover,
.contacts-address-item-pics:focus {
  color: var(--accent-color);
}

.contacts-hours-title {
  margin-top: 70px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--header-text-color);
}

.contacts-hours {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.footer {
  padding-top: 36px;
  padding-bottom: 36px;

  border-color: var(--secondary-bg-color);
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color);
}

.footer-list {
  display: flex;

  column-gap: 30px;
  margin-left: auto;
}

/* .footer-item {
} */

.footer-link {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-text-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
